.skillDetailContainer {
    width: 40%;
    background-color: #E1DBC1;
    font-family: 'Arial', sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
    display: flex;
    flex-direction: column;
}

.detailHeader {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    background-color: #4B483F;
    color: #E1DBC1;
    font-weight: 100;
    letter-spacing: 5px;
}

.detailHeader p {
    margin: 0;
}

.skillMainInfo {
    padding: 0.8rem;
    display: flex;
    justify-content: space-around;
    height: 100%;
    gap: 10px;
}

.iconContainer {
    width: 50%;
}

.iconContainer svg {
    height: 50%;
    width: 100%;
}

.skillInfo {
    width: 100%;
}