.skillDetailContainer {
    width: 50%;
    background-color: #E1DBC1;
    font-family: 'Arial', sans-serif;
    font-size: 1.3rem;
    font-weight: 100;

    display: flex;
    flex-direction: column;
}

.skillDetailContainer p {
    margin: 0;
}

.detailHeader {
    padding: 0.2rem 1rem;

    background-color: #4B483F;
    color: #E1DBC1;

    font-weight: 100;
    letter-spacing: 5px;
}

.skillMainInfo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px
}

.iconContainer{
    width: 30%;
    filter: saturate(0.8) sepia(0.3);
}

.iconContainer svg {
    width: 100%;
    height: 100%;
}

.skillInfo {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}