.box {
    width: 30%;
    background-color: #E1DBC1;
    filter: drop-shadow(2px 2px 0px #413E35);
    padding: 0.8rem 0.3rem 0.8rem 0rem;
}

.skillsContainer {
    font-family: 'Arial', sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
    overflow-y: scroll;
    height: 100%;   
}

.skillsContainer::-webkit-scrollbar-button {
    background-color: #413E35;
    height: 10px;
    border-radius: 50%;
}

.skillsContainer::-webkit-scrollbar-thumb {
    background: #413E35;
    border: 2px solid transparent;
    background-clip: content-box;
}

.skillsContainer::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

.listElement{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
    list-style-type: none;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

    text-decoration: none;
    color: #413E35;
}

.listElement:hover {
    background-color: #B7977E;
    color: #E1DBC1;
}

.listElement li {
    margin: 0.2rem 0;
}

.customMarker{
    background-color: #B7977E;
    height: 30px;
    width: 5px;
}

.subtitle{
    font-size: 1.7rem;
    font-weight: 300;
    margin: 0.8rem 0
}