hr.solid {
    border: 1px solid #4C4940;
}

.aboutContainer{
    width: 48%;
    background-color: #E1DBC1;
    padding: 1rem;

    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}

.longDesc{
    height: 50%;
}