.IntroContainer {
    width: 40%;
    background-color: #E1DBC1;
    font-family: 'Arial', sans-serif;
    font-size: 1.3rem;
    font-weight: 100;

    display: flex;
    flex-direction: column;
}

.IntroContainer p {
    margin: 0;
}

.IntroContainer header {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1rem;

    background-color: #4B483F;
    color: #E1DBC1;

    font-weight: 100;
    letter-spacing: 5px;
}

.IntroContainer main {
    padding: 0.8rem;
}

.IntroInfo {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.profilePic {
    max-width: 38%;
    height: auto;
    object-fit: cover;
    filter: saturate(0.8) sepia(0.3);
}

.bulletDesc {
    width: 60%;
}

hr.solid {
    border: 1px solid #4C4940;
}