body {
  display: flex;
  margin: 0;
  box-sizing: border-box;
  background-color: #D7D1B8;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.section-title {
  font-family: 'Arial';
  font-weight: 200;
  color: #4C4940;
  font-size: 2.5rem;
  letter-spacing: 9px;
  filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.35));
}