.nameContainer {
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #413E35;;
}

.nameTitle {
    font-family: 'Arial';
    font-weight: 200;
    letter-spacing: 5px;
    margin: 1rem 0;
}

.homeContainer {
    display: flex;
    margin: 2rem 0.5rem;
    justify-content: space-around;
}