.navitem {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
    height: 100%;

    font-family: 'Arial';
    font-weight: 400;
    letter-spacing: 2px;
}

.navitem p {
    margin: 0;
}

.navitem a {
    text-decoration: none;
    color: #413E35;
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    
    transition: color 0.5s ease-in-out;
}

.navitemActive a {
    color: #AAA591;
}

.navButton {
    border: none;
    padding: 0.2rem 0rem;
    cursor: pointer;
    width: 75%;
    height: 50%;

    border-color: #AAA591;
    border-style: solid;
    border-width: 2px 0 2px 0;
    transition: border-color 0.5s ease-in-out;

    margin-left: 0.4rem;
}

.navButtonActive {
    border-color: #413E35;
}

.navButton:hover {
    border-color: #413E35;
}

.navButtonActive:hover {
    border-color: #AAA591;
}

.buttonContent {
    display: flex;
    height: 100%;
    padding-left: 0.5rem;

    background-color: #AAA591;
    background: linear-gradient(
        to left,
        #AAA591 50%,
        #413E35 50%
    );
    background-position: right bottom;
    background-size: 201% 100%;
    transition: background-position 0.5s ease-in-out;
}

.buttonContentActive {
    background-position: left bottom;
}

.routeIcon {
    width: 25px;
    height: 25px;
    background-color: #413E35;
    transition: background-color 0.5s ease-in-out;
}

.routeIconActive {
    background-color: #AAA591;
}

.pointer {
    fill: #413E35;
    animation: cursorOffandOn 0.6s normal;
}

@keyframes cursorOffandOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }    
}